#home{
    background: linear-gradient(to right, white, white, skyblue, white, white);
}
#first{
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(image/lady\ png.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
}
#second{
    top: 25%;
    left: 75%;
    height: 60%;
    width: 20%;
    position: absolute;
    /* background-color: rgb(209, 86, 86); */
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 3px, 3px, 3px, 3px, black;
}
#third{
    /* top: 85%;
    left: 0%;
    width: 100%;
    height: 15%;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7); */
}
#forth{
    top: 10%;
    left: 20%;
    width: 50%;
    height: 80%;
    position: absolute;
    background-color: rgb(245, 245, 245, 0.5);
    border-radius: 10px;
    border: 2px;
    border-color: black;
    border-style: inset;
    box-shadow: 10px;
}
.first{
    margin-top: 4%;
    margin-left: 3%;
}
#cname{
    margin-top: 13%;
    margin-left: -17%;
    position: absolute;
    padding: 9px;
    width: 24%;
    border: none;
    border-radius: 4px;
    background-color: rgb(10, 175, 10);
}
#name{
    margin-top: 13%;
    margin-left: 40%;
    position: absolute;
    padding: 9px;
    width: 24%;
    border: none;
    border-radius: 4px;
    background-color: rgb(10, 175, 10);
}
.second{
    position: absolute;
    margin-top: -5%;
    margin-left: 45%;
    font-family: calibri;
    color: rgb(122, 14, 14);
}
.a{
    font-family: calibri;
    margin-top: 11%;
    color: rgb(122, 14, 14);

}
.b{
    margin-left: 3%;
    
}
.c{
    margin-left: 19%;
    
}
.d{
    margin-left: 16%;
    
}
.e{
    margin-left: 17%;
    
}
::placeholder{
    color: black;
}
#product{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 24%;
    border: none;
    border-radius: 4px;
    margin-left: 2%;
}
#price{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#qty{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#total{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 4%;
}
#product1{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 24%;
    border: none;
    border-radius: 4px;
    margin-left: 2%;
}
#price1{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#qty1{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#total1{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 4%;
}
#product2{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 24%;
    border: none;
    border-radius: 4px;
    margin-left: 2%;
}
#price2{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#qty2{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#total2{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 4%;
}
#product3{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 24%;
    border: none;
    border-radius: 4px;
    margin-left: 2%;
}
#price3{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#qty3{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#total3{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 4%;
}
#product4{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 24%;
    border: none;
    border-radius: 4px;
    margin-left: 2%;
}
#price4{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#qty4{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#total4{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 4%;
}
#product5{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 24%;
    border: none;
    border-radius: 4px;
    margin-left: 2%;
}
#price5{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#qty5{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 3%;
}
#total5{
    background-color: rgb(219, 243, 6);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 4%;
}
#gtotal{
    background-color: rgb(10, 175, 10);
    padding: 9px;
    width: 15%;
    border: none;
    border-radius: 4px;
    margin-left: 73%;
    margin-top: -2%;
    position: absolute;
}
.f{
    position: absolute;
    margin-top: -2%;
    font-family: calibri;
    margin-left: 1%;
}
.g{
    position: absolute;
    margin-top: 10%;
    margin-left: 1%;
}
#caname{
    margin-left: 37%;
    padding: ;
    width: 55%;
    position: absolute;
    margin-top: -2%;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    
    
}
#naame{
    padding: ;
    width: 55%;
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    
}
.h{
    position: absolute;
    margin-top: 30%;
    font-family: calibri;
    margin-left: 2%;
}
.q{
    position: absolute;
    margin-top: 30%;
    font-family: calibri;
    margin-left: 51%;
}
.p{
    position: absolute;
    margin-top: 30%;
    font-family: calibri;
    margin-left: 80%;
}
.i{
    position: absolute;
    margin-top: 42%;
    font-family: calibri;
}
.j{
    position: absolute;
    margin-top: 54%;
    font-family: calibri;
}
.k{
    position: absolute;
    margin-top: 66%;
    font-family: calibri;
}
.l{
    position: absolute;
    margin-top: 78%;
    font-family: calibri;
}
.m{
    position: absolute;
    margin-top: 90%;
    font-family: calibri;
}
#naam1{
    margin-left: 2%;
    padding: ;
    width: 40%;
    position: absolute;
    margin-top: 40%;  
    background-color: rgb(255, 255, 255, 0);
    border: none; 
    font-size: 70%;
}
#naam11{
    margin-left: 80%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 40%; 
    background-color: rgb(255, 255, 255, 0);
    border: none;  
}
#naam111{
    margin-left: 40%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 40%; 
    background-color: rgb(255, 255, 255, 0);
    border: none; 
    text-align: center; 
}
#naam2{
    margin-left: 2%;
    padding: ;
    width: 40%;
    position: absolute;
    margin-top: 50%;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}
#naam22{
    margin-left: 80%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 50%;   
    background-color: rgb(255, 255, 255, 0);
    border: none;
}
#naam222{
    margin-left: 40%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 50%;   
    background-color: rgb(255, 255, 255, 0);
    border: none;
    text-align: center;
}
#naam3{
    margin-left: 2%;
    padding: ;
    width: 40%;
    position: absolute;
    margin-top: 60%;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}
#naam33{
    margin-left: 80%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 60%; 
    background-color: rgb(255, 255, 255, 0);
    border: none;  
}
#naam333{
    margin-left: 40%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 60%; 
    background-color: rgb(255, 255, 255, 0);
    border: none;  
    text-align: center;
}
#naam4{
    margin-left: 2%;
    padding: ;
    width: 40%;
    position: absolute;
    margin-top: 70%;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}
#naam44{
    margin-left: 80%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 70%; 
    background-color: rgb(255, 255, 255, 0);
    border: none;  
}
#naam444{
    margin-left: 40%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 70%; 
    background-color: rgb(255, 255, 255, 0);
    border: none;  
    text-align: center;
}
#naam5{
    margin-left: 2%;
    padding: ;
    width: 40%;
    position: absolute;
    margin-top: 80%;   
    background-color: rgb(255, 255, 255, 0);
    border: none;
}
#naam55{
    margin-left: 80%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 80%;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    
}
#naam555{
    margin-left: 40%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 80%;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    text-align: center;
}
#naam6{
    margin-left: 2%;
    padding: ;
    width: 40%;
    position: absolute;
    margin-top: 90%;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}
#naam66{
    margin-left: 80%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 90%;   
    background-color: rgb(255, 255, 255, 0);
    border: none;
   
}
#naam666{
    margin-left: 40%;
    padding: ;
    width: 27%;
    position: absolute;
    margin-top: 90%;   
    background-color: rgb(255, 255, 255, 0);
    border: none;
    text-align: center;
    
}
#g1total{
    margin-left: 60%;
    padding: 10px;
    width: 27%;
    position: absolute;
    margin-top: 96%; 
    background-color: rgb(245, 245, 220, 0);
    border: none;
}
.r{
    position: absolute;
    font-family: calibri;
    margin-top: 96%;
    margin-left: 1%;
}
.v{
    position: absolute;
    font-family: calibri;
    margin-top: -1%;
    margin-left: 55%; 
}
.u{
    /* position: absolute; */
    text-align: center;
    margin-top: -6%;
}
.firs{
    margin-top: 3%;
    margin-left: 2%;
}